<div class="w-full ">
  <% if notice.present? %>
    <p class="inline-block px-3 py-2 mb-5 font-medium text-black bg-green-500 rounded-lg" id="notice"><%= notice %></p>
  <% end %>
  <div class="text-center bg-gray-100 ">
    <h1 class="text-4xl font-bold text-black">Top sellers</h1>
  </div>
  <div class="container flex flex-row flex-wrap justify-around bg-gray-100 ">
     <% @products.each do |product| %>
      <%= render @products %>
      <% end %>
  </div>
</div>
